@tailwind base;

@tailwind components;

body {
  @apply bg-primary;
}

a {
  @apply underline font-semibold;
}

a:hover {
  @apply text-orange-700;
}

a.menu-item {
  @apply block font-black py-2 leading-none no-underline
}

@screen sm {
  a.menu-item {
    @apply px-3
  }
}

p {
  @apply mb-4;
}

strong {
  @apply font-semibold;
}

.btn {
  @apply rounded-lg w-20 pt-1 pb-1 bg-secondary font-bold cursor-pointer text-yellow-900 h-8;
}

.content {
  @apply max-w-3xl font-bold bg-white p-6 shadow-md mt-8;
}

@screen sm {
  .content {
    @apply mt-0 p-8
  }
}

.btn:disabled {
  @apply cursor-not-allowed text-yellow-600;
}

.btn-cancel {
  @apply rounded-lg w-20 pt-1 pb-1 bg-transparent text-sm h-8 border cursor-pointer border-gray-600 font-normal;
}

.checkbox {
  @apply border border-green-700 text-white w-5 h-5 ml-2 bg-white inline-block rounded text-xs p-1 leading-none;
  margin-top: 2px;
}

.checkbox-checked {
  @apply border border-green-700 text-white w-5 h-5 ml-2 bg-green-500 inline-block rounded text-xs p-1 leading-none;
  margin-top: 2px;
}

.input-text {
  @apply font-light text-sm h-8 p-2 border border-gray-500 outline-none;
}

.error {
  @apply text-red-600 text-xs italic mt-6 font-medium;
}

.message {
  @apply text-gray-600 text-xs italic mt-6 font-medium;
}

@tailwind utilities;

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid grey;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.check-empty:before {
  content: "-";
}

.fa-check {
  @apply align-middle;
  margin-bottom: .125em;
}
