body {
  font-family: 'PT Serif';
  background-color: #ffd005;
  color: #000000;
  text-align: center;
  font-size: 1.25em;
}

textarea {
  font-family: 'PT Serif';
  border-radius: 3px;
}

.welcome {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  background: url('img/logo-horizontal.png');
  width: 400px;
  height: 90px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

input[type='submit'],
button {
  height: 35px;
  border-radius: 25px;
  cursor: pointer;
}

input[type='submit']:disabled,
button:disabled {
  cursor: not-allowed;
}

button,
input[type='submit'] {
  font-family: 'PT Serif';
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid grey;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
